<mat-card>
    <h1>Update <span style="font-weight: 500;">{{category.title}}</span> category</h1>
    <!-- {{category | json}} -->
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form *ngIf="category" (submit)="updateData()">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input [(ngModel)]="category.title" type="text" name="title" autofocus matInput placeholder="Enter here"  required/>
                        </mat-form-field>

                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea [(ngModel)]="category.description" name="description" matInput rows="10"  required></textarea>
                        </mat-form-field>
                        
                        <div class="container text-center mt20">
                            <button mat-raised-button color="accent">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>