<mat-card *ngIf="user">
    <h1>Your profile details</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="conteiner text-center">
                    <img src="../../../../assets/default-profile.png" alt="">
                    <h1 class="mt20">{{user.firstName}} {{user.lastName}}</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center mb20">
                            <tr>
                                <td>Name</td>
                                <td>{{user.firstName}}</td>
                            </tr>
                            <tr>
                                <td>Family</td>
                                <td>{{user.lastName}}</td>
                            </tr>
                            <tr>
                                <td>Username</td>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{user.email}}</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>{{user.phone}}</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{user.enabled?"Active" : "Not active"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
